<div class="row">        <!-- first four days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Lunes</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqzwsIIJKz8O0fG3VHbIId8j5LoVAV6ph6QctTR56laRHPmA/viewform" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 - 11:30</td>       <!-- time    -->
        <td>Project Organization and Management</td>        <!-- content -->
        <td>Learn how to structure your metadata, organize and document your metagenomics data and bioinformatics workflow, and access data on the NCBI sequence read archive (SRA) database.</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45-14:00</td>        <!-- time    -->
        <td>Introduction to the Command Line</td>        <!-- content -->
        <td>Learn to navigate your file system, create, copy, move, and remove files and directories, and automate repetitive tasks using scripts and wildcards.</td>
         </tr>
      <tr>               <!-- row 4   -->
        <td>15:30-17:00</td>        <!-- time    -->
        <td>Introduction to the Command Line</td>        <!-- content -->
        <td>Learn to navigate your file system, create, copy, move, and remove files and directories, and automate repetitive tasks using scripts and wildcards.</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Martes</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 - 10:00</td>        <!-- time    -->
        <td>Introduction to R</td>        <!-- content -->
        <td>Use R studio to manage several data types and structures.</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 - 11:30</td>        <!-- time    -->
        <td>Data Processing and Visualization for Metagenomics</td>        <!-- content -->
        <td>Use command-line tools to perform quality control, metagenomic assembly, metagenomic binning, taxonomic assignment, and diversity exploration.</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:45-14:00</td>        <!-- time    -->
        <td>Data Processing and Visualization for Metagenomics</td>        <!-- content -->
        <td>Use command-line tools to perform quality control, metagenomic assembly, metagenomic binning, taxonomic assignment, and diversity exploration.</td>
         </tr>
      <tr>               <!-- row 4   -->
        <td>15:30-17:00</td>        <!-- time    -->
        <td>Data Processing and Visualization for Metagenomics</td>        <!-- content -->
        <td>Use command-line tools to perform quality control, metagenomic assembly, metagenomic binning, taxonomic assignment, and diversity exploration.</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Miércoles</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00-11:30</td>        <!-- time    -->
        <td>Phyton</td>        <!-- content -->
        <td>Using python to understand changes in communities.</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00-14:00</td>        <!-- time    -->
        <td>Phyton</td>        <!-- content -->
        <td>Using python to understand changes in communities.</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:30-17:00</td>        <!-- time    -->
        <td>Phyton</td>        <!-- content -->
        <td>Using python to understand changes in communities.</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Jueves</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
